#about-us {
    height: 50vh
}
.title-about {
    font-size: 30px;
    color: rgb(76, 0, 255);
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: -2px -9px 3px rgb(164, 135, 231);
}
.about-info {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#about-us img {
    width: 22vw;
    height: 22vw;
}