@media only screen and (max-width: 800px) {
    .categories a {
        display: none ;
    }
    #burger{
        display: block !important;
        font-size: 40px;
        color: black;
        z-index: 10;
    }
    /* .media-menu  {
        display: block !important;
    } */
}
@media only screen and (max-width:570px) {
    .header-contact {
        display: none !important;
    }
    .enter-btn span {
        font-size: 15px;
    }
    .pricing-card strong {
        font-size: 17px;
    }
    .pricing-card b {
        font-size: 16px;
    }
}