.swiper-container {
  width: 90vw;
  height: 50vh;
  transform: translateY(60%);
}
.news-title {
  font-size: 28px;
  font-weight: 700;
  color: indigo;
  text-shadow: -2px -9px 3px rgb(164, 135, 231);
  text-align: center;
  transform: translateY(390%);
}


.swiper-slide {
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* box-shadow: -4px -1px 40px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px -1px 40px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 40px -2px rgba(0,0,0,0.75); */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}