.swiper-container {
  width: 90vw;
  height: 60vh;
  transform: translateY(40%);
}
.news-title {
  font-size: 28px;
  font-weight: 700;
  color: indigo;
  text-shadow: -2px -9px 3px rgb(164, 135, 231);
  text-align: center;
  transform: translateY(390%);
}


.swiper-slide {
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: -4px 0px 10px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px 0px 10px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 0px 10px -5px rgba(0,0,0,0.75);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
}
.news-card strong{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card div a i {
  color: indigo;
}